{% set current_url = h.full_current_url() %}
{% block social %}
  <section class="module module-narrow social">
    {% block social_title %}
      <h2 class="module-heading"><i class="icon-medium icon-share"></i> {{ _('Social') }}</h2>
    {% endblock %}
    {% block social_nav %}
      <ul class="nav nav-simple">
        <li class="nav-item"><a href="https://twitter.com/share?url={{ current_url }}" target="_blank"><i class="fa fa-twitter-square fa-1x social"></i> {{ _('Twitter') }}</a></li>
        <li class="nav-item"><a href="https://www.facebook.com/sharer.php?u={{ current_url }}" target="_blank"><i class="fa fa-facebook-square fa-1x social"></i> {{ _('Facebook') }}</a></li>
        <li class="nav-item"><a href="https://telegram.me/share/url?url={{ current_url }}" target="_blank"><i class="fa fa-telegram fa-1x social"></i> {{ _('Telegram') }}</a></li>
      </ul>
    {% endblock %}
  </section>
{% endblock %}
