<h2>{% trans %}Who are we?{% endtrans %}</h2>
<p>
    اندیشکده شفافیت برای ایران در سال ۱۳۹۳ آغاز به کار کرد. این اندیشکده، زیرساخت حل عمده‌ مشکلات کشور را در تحقق
    هوشمندانه و عالمانه‌ی «شفافیت» و مفاهیم مرتبط با آن می‌داند. این اندیشکده در مدت فعالیت خود، تعاملات گسترده‌ای را با
    بسیاری از نهادها و سازمان‌های دولتی و عمومی مانند مجلس شورای اسلامی، مجمع تشخیص مصلحت نظام، قوه قضائیه، شورای شهر
    تهران و برخی شهرستانها و …برقرار کرده و در قالب مشاوره و اجرای پروژه‌های متعدد، در راستای تحقق شفافیت و سازوکارهای
    پیشگیری از فساد، حرکت می‌کند. از اصلی‌ترین خصوصیات طرح‌ها و موضوعات پیشنهادی اندیشکده شفافیت برای ایران، تطبیق آن‌ها
    با اصول دینی، اقتضائات بومی و آخرین تجارب جهانی می‌باشد که باعث اجراپذیر بودن هرچه بیشتر آن‌ها می‌شود.
</p>