<div class="campaigns">
    <div class="homepage">
        <div class="usecases" id="list__container">
            <ul class="list">
                <li>
                    <a target="_blank" rel="noopener" href="https://recyclewithmaryam.com/">
                        <img src="/images/campaigns/image2_en.png">
                        <h3>Recycling And Separating Waste At Source</h3>

                        <div class="clamping"><p>This campaign is a result of a series of research that Iran Open Data has done about recycling and separating waste at source. The message of this campaign is for Iranian citizens to understand the importance of recycling and the fact that separating at source can make a huge difference.
                        This campaign is in Farsi.</p></div>
                    </a>
                </li>

                <li>
                    <a target="_blank" rel="noopener" href="https://koodakiegomshode.com/koodakanezobalegard.html">
                        <img src="/images/campaigns/image1_en.png">
                        <h3>Street Children</h3>

                        <div class="clamping"><p>This campaign is about street children in Iran. The children who separate & look into trash in the streets of Iran. The data and statistics that are used in this campaign are collected by non-profit institutions and advocates inside Iran.
                        This campaign is in Farsi.</p></div>
                    </a>
                </li>

                <li>
                    <a target="_blank" rel="noopener" href="https://koodakiegomshode.com/ezdevajekoodakan.html">
                        <img src="/images/campaigns/image3_en.png">
                        <h3>Children Marriage</h3>

                        <div class="clamping"><p>This campaign seeks awareness for under-aged marriages. In this campaign, Iran Open Data explores the importance of children marriage issue in Iran as well as our responsibility towards this matter.
                        This campaign is in Farsi.</p></div>
                    </a>
                </li>

            </ul>

        </div>
    </div>
</div>