<div class="campaigns">
    <div class="homepage">
        <div class="usecases" id="list__container">
            <ul class="list">
                <li>
                    <a target="_blank" rel="noopener" href="https://recyclewithmaryam.com/">
                        <img src="/images/campaigns/image2.png">
                        <h3>تفکیک زباله و بازیافت آن</h3>

                        <div class="clamping"><p>این کمپین، بر اساس تحقیقی است که پایگاه داده باز ایران بر اساس پروژه تحقیقاتی که بر روند بازیافت و تفکیک زباله در ایران انجام داده است. بر اساس نتایج این تحقیق، در قالب کمپین تفکیک زباله قصد داریم تا شهروندان ایران را تشویق به تفکر درباره اهمیت تفکیک زباله در مبدا تولید زباله، یعنی خانه‌ها بکنیم. این کمپین به شکل یک مجموعه تصویری از زندگی یک خانم خانه‌دار و یک مقاله مکمل طراحی شده است.</p></div>
                    </a>
                </li>

                <li>
                    <a target="_blank" rel="noopener" href="https://koodakiegomshode.com/koodakanezobalegard.html">
                        <img src="/images/campaigns/image1.png">
                        <h3>کودکان زباله‌گرد</h3>

                        <div class="clamping"><p>این کمپین در راستای آگاه سازی عموم مردم از شرایط زندگی کودکانی که در ایران زباله‌گردی می‌کنند درست شده است. آمار و ارقامی که در این مقاله ذکر شده، توسط موسسات خیریه‌ و کنشگران در داخل کشور منتشر شده است. </p></div>
                    </a>
                </li>

                <li>
                    <a target="_blank" rel="noopener" href="https://koodakiegomshode.com/ezdevajekoodakan.html">
                        <img src="/images/campaigns/image3.png">
                        <h3>ازدواج کودکان</h3>

                        <div class="clamping"><p>این کمپین برای آگاه سازی از شرایط کودکانی است که در ایران ازدواج می‌کنند. در وبسایت کودکی گمشده، علاوه بر انتشار اطلاعات، به تحلیل و جمع آوری نظرات کارشناسان پرداخته شده است. این کمپین با توجه به مسئله مهم ازدواج کودکان در ایران، دلایل آن و وظیفه شهروندی ما در برابر این موضوع را توضیح می‌دهد.</p></div>
                    </a>
                </li>

            </ul>

        </div>
    </div>
</div>