<div class="homepage">
    <div class="usecases" id="list__container">
        <ul class="list">
            <li>
                <a target="_blank" rel="noopener" href="#">
                    <img src="/images/promote/01.png">
                </a>
            </li>

            <li>
                <a target="_blank" rel="noopener" href="https://dadeh.org/fa">
                    <img src="/images/promote/02.png">
                </a>
            </li>

            <li>
                <a target="_blank" rel="noopener" href="#">
                    <img src="/images/promote/03.png">
                </a>
            </li>

        </ul>
    </div>
</div>