<div role="main" class="hero">
  <div class="container">
    <h1 class="iod-title">{% trans %}Making Iranian Data Publicly Available{% endtrans %}</h1>

    {% block search %}
      {% snippet 'home/snippets/search.html' %}
    {% endblock %}
  </div>
</div>
<div role="main">
  <div class="container">
    <div class="row row2">
      <div class="span12 col1">
        {% block stats %}
          {% snippet 'home/snippets/stats.html' %}
        {% endblock %}
      </div>

      <div class="span12 col1">
        {% snippet 'home/snippets/group_list_home.html', groups=h.iod_theme_most_popular_groups() %}
      </div>

      <div class="span12 col1">
        {% snippet 'home/snippets/showcase_list_home.html', packages=h.get_showcase_items() %}
      </div>

    </div>
  </div>
</div>
